.start_Bulbi{
    background-image: url(../img/1-bulbizarrebackground2.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.start_Carapuce{
    background-image: url(../img/3-carapuce\ background2.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.start_Salameche{
    background-image: url(../img/2-salameche\ background2.jpg);
    background-attachment: fixed;
    background-size: cover;
}