body {
    transition: .5s;
}

nav {
    display: flex;
    flex-direction: column;
    width: 8%;
    position: absolute;
}

.ball {

    width: 100px;
    margin-left: -1px;

}

.dex {
    width: 100px;
    margin-left: -5px;
}

.map {
    width: 110px;
    margin-left: -5px;
}

.quizz {
    width: 70px;
    margin-left: 5px;
}

.pickprofil {
    width: 100px;
}

header {
    text-align: center;
}

.carap{
    display: block;
    margin-left: auto;
    position: relative;
    top: -140px;
    width: 142px;
    height: 8%;
}

.img {
    display: none;
} 

.show{
    display: block;
    opacity: 1;
}

.clickevent {
    display: block;
    justify-content: center;
}

aside {
    width: 100%;;
    display: flex;
    justify-content: center;
}

.navmap {
    display: flex;
}

.cv {
    display: block;
    width: 100%;
    margin-top: -100px;  
}

footer{
    display: block;
    justify-content: end;
}