nav {
    display: flex;
    flex-direction: column;
    width: 8%;
    position: absolute;
}

.ball {

    width: 100px;
    margin-left: 5px;

}

.dex {
    width: 100px;
    margin-left: -5px;
    margin-top: 5px;
}

.map {
    width: 110px;
    margin-left: -5px;
}

.quizz {
    width: 70px;
    margin-left: 5px;
}

.panth {
    width: 80px;
    margin-left: 5px;
    margin-top: 5px;
}

.pickprofil {
    width: 100px;
    margin-left: 12px;
}

.quizz {
    width: 70px;
    margin-left: 5px;
}

.logo {
    display: block;
    margin: auto;
}
.carap{
    display: block;
    margin-left: auto;
    position: relative;
    top: -140px;
    width: 142px;
}
.view {
    display: block;
    margin: auto;
    margin-top: -350px;
}

aside {
    width: 100%;;
    display: flex;
    justify-content: center;
}

.navmap {
    display: flex;
}

.panthtitle {
    display: block;
    margin-top: -100px;  
}
.carousel{
    margin-top: 12.5%;
}
