body {
    transition: .5s;
}

nav {
    display: flex;
    flex-direction: column;
    width: 8%;
    position: absolute;
	margin-top: 300px;
}

.ball {

    width: 100px;
    margin-left: 5px;

}

.dex {
    width: 100px;
    margin-left: -5px;
    margin-top: 5px;
}

.map {
    width: 110px;
    margin-left: -5px;
}

.quizz {
    width: 70px;
    margin-left: 5px;
}

.panth {
    width: 80px;
    margin-left: 5px;
    margin-top: 5px;
}

.profil {
	position: relative;
	left: 1560px;
    top: -300px;
}


.logo {
    display: block;
    margin: auto;
}

.view {
    display: block;
    margin: auto;
    margin-top: -350px;
}

.bikeshop {
    position: relative;
    display: flex;
    margin-left: 600px;
}
header {
    text-align: center;
}

.carap{
    display: block;
    margin-left: auto;
    position: relative;
    top: -140px;
    width: 142px;
    height: 8%;
}

.img {
    position: relative;
    width: 50%;
    padding:10px;
    vertical-align : middle;
} 

.show{
    display: block;
    opacity: 1;
}

.clickevent {
 position: relative;
  width: 50%;
  padding:10px;
  vertical-align : middle;
}

aside {
    width: 100%;;
    display: flex;
    justify-content: center;
}

.navmap {
    display: flex;
}

.cv {
    display: block;
    width: 100%;
    margin-top: -100px;  
}

#cards {
    margin-top: 50px;
}

.infosjhoto {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 30px;
    left: 680px;
    top: 730px;
    width: 30%;
    backdrop-filter: blur(50px);
    border-radius: 20px;
    border: 40px;
    padding: 5px;
    border: solid black;
}

.jhoto{
    margin-left: 350px;
}
#jhoto {
    margin-left: 450px;
}

.hoennmap {
    margin-left: 350px;
}

.hoenn {
    margin-top: 340px;
}

.hoenn1 {
    margin-left: 800px;
}

.hoennmap {
    margin-left: 690px;
}

.infos1 {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 30px;
    left: 660px;
    top: 1520px;
    width: 30%;
    backdrop-filter: blur(50px);
    border-radius: 20px;
    border: 40px;
    padding: 5px;
    border: solid black;
}

.sinnoh{
    margin-top: 270px;
}

.sinnoh1 {
    margin-left: 800px;
}

.sinnohmap {
    margin-left: 560px;
}

.sininfo{
    position: absolute;
    text-align: center;
    color: white;
    font-size: 30px;
    left: 500px;
    top: 2460px;
    width: 50%;
    backdrop-filter: blur(50px);
    border-radius: 20px;
    border: 40px;
    padding: 5px;
    border: solid black;
}