nav {
    display: flex;
    flex-direction: column;
    width: 8%;
    position: absolute;
}

.ball {

    width: 100px;
    margin-left: 5px;

}

.dex {
    width: 100px;
    margin-left: -5px;
    margin-top: 5px;
}

.map {
    width: 110px;
    margin-left: -5px;
}

.quizz {
    width: 70px;
    margin-left: 5px;
}

.panth {
    width: 80px;
    margin-left: 5px;
    margin-top: 5px;
}

.profil {
	position: relative;
	left: 1560px;
    top: 180px;
}


.logo {
    display: block;
    margin: auto;
}

.view {
    display: block;
    margin: auto;
    margin-top: -350px;
}

.infosstore {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 30px;
    left: 680px;
    top: 700px;
    width: 30%;
    backdrop-filter: blur(50px);
    border-radius: 20px;
    border: 40px;
    padding: 5px;
    border: solid black;
}

.store {
    margin-left: 540px;
}