.background-image{

    background-image: url('../img/preaccueil.jpg');
    background-size: cover;
}

.logo {

    display: block;
    margin: auto;
}

.chen {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.profchen{

    position: relative;
    top: -50px;
    left: 100px;
}

.blablachen {

    position: relative;
    top: -300px; 
    left: 325px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
    backdrop-filter: blur(50px);
}

.container{

    margin: 50px auto auto auto;
    width: 30%;
    text-align: center;
}

.btn_list{

    margin-bottom: 10px;
}

.pkb_size{

    width: 80px;
    position: relative;
    top: -300px; 
    left: 0px;
}

#pkb0{

    position: relative;
    top: -300px; 
    left: -70px;
}

#pkb1{

    position: relative;
    top: -300px; 
    left: 0px;
}

#pkb2{

    position: relative;
    top: -300px; 
    left: 70px;
}

.pkmBulbi{

    position: relative;
    top: 20px; 
    left: -50px;
}

.pkmSalameche{

    position: relative;
    top: 20px; 
    left: 15px;
}

.pkmCarapuce{

    position: relative;
    top: 20px; 
    left: 65px;
}

.pkb_anim{

    animation: rotation 3s infinite linear;
}

.starter{
    
    display: block;
    justify-content: center;
    position: relative;
    top: -300px; 
    left: 0px;
    justify-content: space-between;
}

.pkm_starter{
    
    width: 100px;
}

#bulbi{

    position: relative;
    top: -250px; 
    left: 170px;
    display: inline-block;
    background-color: #9DF8E4;
    border: 4px double #cccccc;
    color: #000000;
    text-align: center;
    font-size: 17px;
    padding: 20px;
    width: 200px;
    transition: all 1.5s;
    cursor: pointer;
    margin: 5px;  
    border-radius: 50px;
}

#bulbi:hover {

    background-color: #0ea489;
  }

#salameche{

    position: relative;
    top: -250px; 
    left: 170px;
    display: inline-block;
    background-color: #FF9C00;  
    border: 4px double #cccccc;
    color: #000000;
    text-align: center;
    font-size: 17px;
    padding: 20px;
    width: 200px;
    transition: all 1.5s;
    cursor: pointer;
    margin: 5px;  
    border-radius: 50px;
}

#salameche:hover {

    background-color: #b36e00;

}

#carapuce{

    position: relative;
    top: -250px; 
    left: 170px;
    display: inline-block;
    background-color: #74D7E8;  
    border: 4px double #cccccc;
    color: #000000;
    text-align: center;
    font-size: 17px;
    padding: 20px;
    width: 200px;
    transition: all 1.5s;
    cursor: pointer;
    margin: 5px;  
    border-radius: 50px;
}

#carapuce:hover {

    background-color: #19869a;
  }
  
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}